@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap");
.filter-box {
  margin-top: 1%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filter-box h1 {
  color: #fe4141 !important;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Azeret Mono", monospace;
}
.filter-box input {
  width: 20%;
  font-size: 25px;
  border-radius: 16px;
  border-color: transparent;
  transition: 0.5s;
}
.filter-box input:focus {
  border-radius: 16px;
  /* border-color: #fe4141; */
  outline: none;
  width: 30%;
}
.rating {
  border-radius: 15px;
  width: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #ffffffff;
}
.filter-box button {
  margin-top: 2%;
  padding: 10px 25px;
  font-size: 21px;
  border: 2px solid black;
  transition: 0.5s;
}
.filter-box button:hover {
  background: #fe4141;
  color: #fff;
  cursor: pointer;
}
